@import '../../variables.scss';

.feedback {
	border-radius: 20px;
	background: #f4f8ff;
	@media (min-width: 360px) {
		width: 340px;
		height: 976px;
		margin: 0 auto 150px;
	}
	@media (min-width: 768px) {
		width: 748px;
		height: 1015px;
	}
	@media (min-width: 1200px) {
		width: 1160px;
		height: 738px;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@media (min-width: 360px) {
			gap: 30px;
		}
		@media (min-width: 768px) {
			gap: 60px;
			flex-direction: column;
		}
		@media (min-width: 1200px) {
			flex-direction: row;
			justify-content: center;
			gap: 44px;
			padding: 40px 98px 32px;
		}
	}
	.feedback-info {
		@media (min-width: 360px) {
			text-align: center;
		}
		@media (min-width: 1200px) {
			text-align: inherit;
		}
		&__title {
			color: $textColor;
			font-style: normal;
			font-weight: 800;
			line-height: 166.4%;
			@media (min-width: 360px) {
				font-size: 24px;
				margin: 40px 0 10px;
				font-weight: 600;
			}
			@media (min-width: 768px) {
				font-weight: 800;
			}
			@media (min-width: 1200px) {
				font-size: 36px;
				width: 205px;
				margin: 0;
			}
		}
		&__description {
			color: $textColor;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			width: 475px;
			@media (min-width: 360px) {
				width: 341px;
				font-size: 12px;
				margin-top: 20px;
			}
			@media (min-width: 768px) {
				width: 620px;
				font-size: 14px;
				margin-top: 30px;
			}
			@media (min-width: 1200px) {
				width: 448px;
				font-size: 18px;
				margin-top: 20px;
			}
			&_selected {
				font-weight: bold;
			}
		}
	}

	.feedback-form {
		width: 480px;
		border-radius: 20px;
		background: $frequentlyUsedColor;
		// padding: 56px 52px 50px;
		@media (min-width: 360px) {
			width: 311px;
			padding: 37px 29px 46px 23px;
			margin: 0 auto;
		}
		@media (min-width: 768px) {
			width: 472px;
			padding: 56px 64px 47px;
			margin: 0 auto;
		}
		&__title {
			color: #fff;
			text-align: center;
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			margin-bottom: 28px;
			@media (min-width: 360px) {
				font-size: 18px;
			}
			@media (min-width: 768px) {
				font-size: 24px;
			}
		}
		&__description {
			color: #f4f8ff;
			text-align: center;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin-bottom: 46px;
		}
		&__input {
			width: 100%;
			border: none;
			outline: none;
			display: block;
			color: #ffffff66;
			margin-bottom: 30px;
			background-color: $frequentlyUsedColor;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			border-bottom: 1px solid #ffffff66;
			padding-bottom: 8px;
			@media (min-width: 360px) {
				font-size: 12px;
			}
			@media (min-width: 768px) {
				font-size: 18px;
			}
			&::placeholder {
				color: #ffffff66;
			}
		}
		&__button {
			border-radius: 5px;
			background: #fff;
			color: $frequentlyUsedColor;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			border: none;
			padding: 22px 0;
			width: 100%;
			cursor: pointer;
		}
		.feedback-form-personal-data-agreement {
			margin-top: 35px;
			display: flex;
			align-items: center;
			justify-content: center;
			@media (min-width: 360px) {
				gap: 10px;
			}
			@media (min-width: 768px) {
				gap: 0;
			}
			&__checkbox {
				display: block;
				width: 16px;
				height: 16px;
				border-radius: 2px;
				background: #9b8fff;
				accent-color: #9b8fff;
			}
			&__text {
				display: block;
				cursor: pointer;
				font-size: 12.5px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				color: #ffffff;
				&_selected {
					color: #9b8fff;
				}
			}
		}
	}
	&__platonic-img {
		position: relative;
		top: -708px;
		bottom: 0;
		left: 330px;
		right: 0;
		@media (min-width: 360px) {
			width: 119px;
			height: 119px;
			top: -856px;
			left: -4px;
		}
		@media (min-width: 768px) {
			width: 146px;
			height: 146px;
			top: -910px;
			left: 62px;
		}
		@media (min-width: 1200px) {
			top: -722px;
			left: 353px;
		}
	}
	&__cylinder-img {
		position: relative;
		top: -384px;
		bottom: 0;
		right: -866px;
		@media (min-width: 360px) {
			width: 103px;
			height: 102px;
			top: -854px;
			right: -142px;
		}
		@media (min-width: 768px) {
			width: 174px;
			height: 173px;
			right: -464px;
			top: -450px;
		}
		@media (min-width: 1200px) {
			right: -870px;
			top: -418px;
		}
	}
	&__arm-img {
		position: relative;
		@media (min-width: 360px) {
			width: 221px;
			height: 113px;
			top: -110px;
		}
		@media (min-width: 768px) {
			width: 335px;
			height: 171px;
			left: -327px;
			top: 10px;
		}
		@media (min-width: 1200px) {
			width: 430px;
			height: 219px;
			left: -327px;
			top: -54px;
		}
	}
	&__circle-img {
		position: relative;
		@media (min-width: 360px) {
			width: 42px;
			height: 41px;
			top: -326px;
			left: -202px;
		}
		@media (min-width: 768px) {
			left: -604px;
			top: -166px;
		}
		@media (min-width: 1200px) {
			width: 58px;
			height: 57px;
			left: -252px;
			top: -182px;
		}
	}
	&__cube-img {
		position: relative;

		@media (min-width: 360px) {
			width: 91px;
			height: 91px;
			top: -274px;
			right: -260px;
		}
		@media (min-width: 768px) {
			width: 119px;
			height: 119px;
			top: -125px;
			left: 612px;
		}
		@media (min-width: 1200px) {
			width: 165px;
			height: 165px;
			top: 12px;
			left: 178px;
		}
	}
}
