@import '../../variables.scss';

.awards {
	border-radius: 10px;
	background: #f0d577;
	padding: 26px 20px;
	margin-bottom: 150px;
	@media (min-width: 360px) {
		width: 340px;
		margin: 0 auto 100px;
	}
	@media (min-width: 768px) {
		width: 752px;
	}
	@media (min-width: 1200px) {
		width: 100%;
	}
	.awards-container {
		border-radius: 10px;
		border: 1px solid #fff;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@media (min-width: 360px) {
			justify-content: center;
		}
		@media (min-width: 768px) {
			justify-content: center;
			flex-direction: column;
		}
		@media (min-width: 1200px) {
			justify-content: flex-start;
			flex-direction: row;
			gap: 95px;
		}
		.awards-cup {
			@media (min-width: 360px) {
				margin-top: 20px;
			}
			@media (min-width: 1200px) {
				margin: 0;
				position: relative;
				top: 20px;
			}
			img {
				@media (min-width: 360px) {
					width: 99px;
					height: 120px;
				}
				@media (min-width: 768px) {
					width: 185px;
					height: 226px;
				}
				@media (min-width: 1200px) {
					width: 359px;
					height: 438px;
				}
			}
		}
		.awards-certificates {
			display: flex;
			align-items: center;
			// gap: 95px;
			flex-wrap: wrap;
			@media (min-width: 360px) {
				justify-content: center;
				margin: 0px 0 20px 0;
			}
			@media (min-width: 768px) {
				flex-direction: column;
			}
			@media (min-width: 1200px) {
				gap: 95px;
				flex-direction: row;
			}
		}
		.certificate {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&__title {
				color: #9f9f9f;
				text-align: center;
				font-size: 12px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				margin-bottom: 6px;
				@media (min-width: 360px) {
					margin-top: 20px;
				}
				@media (min-width: 768px) {
					margin-top: 42px;
				}
				@media (min-width: 1200px) {
					margin-top: 27px;
				}
			}
			&__description {
				color: $textColor;
				text-align: center;
				font-size: 12px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				width: 212px;
				margin-bottom: 16px;
				@media (min-width: 360px) {
					margin-bottom: 24px;
				}
			}
			&__img {
				img {
					@media (min-width: 360px) {
						width: 280px;
					}
					@media (min-width: 768px) {
						width: 429px;
						height: 607px;
					}
					@media (min-width: 1200px) {
						width: 231px;
						height: 327px;
					}
				}
			}
		}
	}
}
