@import '../../variables.scss';
@import '../main-block-product-content/styles-templates.scss';

.product-content {
	@media (max-width:360px){
		padding: 0 10px;
	}
	.product-catalog {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 70px;
		&__image {
			img {
				@media (min-width: 360px) {
					width: 368px;
					height: 251px;
				}
			}
		}
		&__info {
			.product-catalog__info-title {
				@extend %title;
			}
			.product-catalog__info-list {
				@extend %list;
				.product-catalog__info-list-item {
					@extend %list-item;
				}
			}
		}
	}

	.product-ordering {
		display: flex;
		align-items: center;
		@media (min-width: 360px) {
			flex-wrap: wrap-reverse;
			margin-top: 32px;
			gap: 24px;
		}
		&__image {
			img {
				@media (min-width: 360px) {
					width: 368px;
					height: 251px;
				}
			}
		}
		&__info {
			.product-ordering__info-title {
				@extend %title;
			}
			.product-ordering__info-list {
				@extend %list;
				.product-ordering__info-list-item {
					@extend %list-item;
				}
			}
		}
	}

	.product-integration {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@media (min-width: 360px) {
			margin-top: 32px;
			gap: 24px;
		}
		&__image {
			img {
				@media (min-width: 360px) {
					width: 368px;
					height: 251px;
				}
			}
		}
		&__info {
			.product-integration__info-title {
				@extend %title;
			}
			.product-integration__info-list {
				align-self: flex-end;
				@extend %list;
				.product-integration__info-list-item {
					@extend %list-item;
				}
			}
		}
	}

	.product-crm {
		display: flex;
		align-items: center;
		@media (min-width: 360px) {
			flex-wrap: wrap-reverse;
			margin-top: 32px;
			gap: 62px;
		}
		&__image {
			img {
				@media (min-width: 360px) {
					width: 368px;
					height: 251px;
				}
			}
		}
		&__info {
			.product-crm__info-title {
				@extend %title;
			}
			.product-crm__info-list {
				@extend %list;
				.product-crm__info-list-item {
					@extend %list-item;
				}
			}
		}
	}

	.product-content__button {
		display: flex;
		justify-content: center;
		align-items: center;
		.product-content__button-price {
			cursor: pointer;
			width: 275px;
			height: 60px;
			border: none;
			border-radius: 5px;
			color: #fff;
			background: $frequentlyUsedColor;
			text-align: center;
			font-size: 12px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			margin: 50px 0 100px 0;
		}
	}
}
