@import '../../variables.scss';

.contacts {
	@media (min-width: 320px) {
		margin: 32px 10px 72px;
	}
	@media (min-width: 768px) {
		margin: 48px 10px 150px;
	}
	@media (min-width: 1200px) {
		margin: 56px 140px 300px;
	}
	&__title {
		color: $textColor;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		&_selected {
			color: $frequentlyUsedColor;
		}
		@media (min-width: 320px) {
			font-size: 18px;
		}
		@media (min-width: 768px) {
			font-size: 24px;
		}
		@media (min-width: 1200px) {
			font-size: 36px;
		}
	}
	.contacts-details {
		margin-top: 92px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media (min-width: 320px) {
			flex-direction: column;
			margin-top: 30px;
		}
		@media (min-width: 768px) {
			margin-top: 50px;
		}
		@media (min-width: 1200px) {
			flex-direction: row;
			margin-top: 92px;
		}
		.contacts-details-info {
			display: flex;
			flex-direction: column;
			row-gap: 26px;
			color: #727272;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			@media (min-width: 320px) {
				width: 320px;
				row-gap: 14px;
				margin-bottom: 20px;
				font-size: 12px;
			}
			@media (min-width: 768px) {
				margin-bottom: 48px;
				row-gap: 27px;
				font-size: 18px;
			}
			.contacts-details-info-social {
				display: flex;
				flex-direction: row;
				column-gap: 36px;
				&__number {
				}
				&__icons {
					display: flex;
					flex-direction: row;
					column-gap: 18px;
				}
				img {
					display: block;
					@media (min-width: 320px) {
						width: 17px;
						height: 17px;
					}
					@media (min-width: 768px) {
						width: 23px;
						height: 23px;
					}
				}
			}
			&__mail {
			}
			&__address {
				@media (min-width: 320px) {
					width: 200px;
				}
				@media (min-width: 768px) {
					width: 370px;
				}
				@media (min-width: 1200px) {
					width: 300px;
				}
			}
		}
		.contact-details-map {
			iframe {
				@media (min-width: 320px) {
					width: 300px;
					height: 262px;
				}
				@media (min-width: 768px) {
					width: 745px;
					height: 408px;
				}
				@media (min-width: 1440px) {
					width: 767px;
					height: 420px;
				}
			}
		}
	}
}
